

/*defualt styling for all elements*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Define Variables for color of the site*/
:root {
    --dark-blue: #0F044C;
    --blue: #141E61;
    --dark-gray: #787A91;
    --gray: #EEEEEE;
}

/*Fonts Rules  for google fonts
font-family: 'Inconsolata', monospace;
font-family: 'Roboto', sans-serif;
*/

/*Define the color and style for the body*/
body{
    background-color: var(--dark-blue);
    color: var(--gray);
    font-family: 'Roboto',sans-serif;
     width: 100%;
}

/*Define the color for the anchors elements*/
a {
    color: var(--gray);
    text-decoration: none;
}

section, footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*Header section styling*/
header{
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-between;
    background-color: var(--dark-blue);
    color: var(--dark-blue);
    padding: 15px 50px 15px 0;
    font-family: 'Roboto',sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 999;
}

header h1{
    background-color: var(--dark-gray);
    color: var(--gray);
    padding: 15px 15px 15px 40px;
    text-align: right;
    width:440px;
    font-size: 48px;
    font-weight: 300;
    transition: 0.2s;
}

header nav{
    padding-top: 30px;
    font-family: 'Inconsolata',monospace;
    font-size: 26px;
    width: 480px;
}
header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}

/*hero styling*/
.hero{
    width: 100%;
    height: 600px;
    background-image: url('../images/code-back.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding:40px;
    margin-bottom: 20px;
}

 .hero-title {
    background-color: var(--gray);
    color: var(--blue);
    font-family: 'Inconsolata',monospace;
    padding:20px 40px;
}

/*Define styling for Footer*/
footer .contact-me {
    display: flex;
    justify-content: space-around;
}

footer .contact-me a {
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
    padding: 10px;
}


/*Reusable selectors*/
.col-title{
    width: 20%;
    text-align: right;
    font-family: 'Inconsolata',monospace;
    font-size: 32px;
    padding:20px 10px;
}
.col-content {
    width: 80%;
    border-left: 3px solid var(--gray);
    padding:20px 10px;
}

.col-content p{
    font-family: 'Inconsolata',monospace;
    font-size: 22px;
}

.col-content h3 {
    background-color: var(--gray);
    padding: 10px 40px 10px 10px;
    color: var(--dark-blue);

}

.col-content h3 span {
    font-size: 16px;
    font-weight: 300;
}

.col-image {
    width: 20%;
    margin: 0 auto;
}

.col-image img {
    width: 100%;
}

.col-bio {
    width: 70%;
}

.works-container{
    width: 800px;
    margin: 0 auto;
}

.row, .row-main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.row-main a {
   width: 100%;
    margin-bottom: 10px;
}

.row a{
    width: 350px;
     margin-bottom: 10px;
}

.row a:hover{
    box-shadow: 4px 4px 2px var(--dark-gray);
   
}


/*Define styling for works picture*/
.main-work, .other-work{
    position: relative;
    background-size: cover;
    border: 2px solid var(--gray);
}

.main-work{
    width: 100%;
    height: 300px;
    background-image: url('../images/nationalParks.png');
}

.other-work{
    width: 350px;
    height: 150px;
}


/*Define background for each work in the sections works.*/
.work-1{
    background-image: url('../images/run-boddy.png');
}

.work-2 {
    background-image: url('../images/weather-search.png');
}

.work-3 {
    background-image: url('../images/work-scheduler.png');
}

.work-4 {
    background-image: url('../images/password-generator.png');
}


.main-work h3, .other-work h3{
    background-color: var(--gray);
    color: var(--dark-blue);
    padding: 10px 40px 10px 10px;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.work h3 span {
    font-size: 16px;
    font-weight: 300;
}
/*Media Screen Smaller Than 1024px */
@media screen and (max-width:1024px) {
    .works-container,.main-work,
    .other-work,
    .col-image,
    .col-bio,
    .row a {
        width: 100%;
    }

    .main-work, .other-work{
        background-position: center;
    }
    
    .col-image{
        display: flex;
        justify-content: center;
    }
    .col-image img{
        width: 240px;
        height: auto;
    }

    .other-work{
        height: 200px;
    }
}
/*Media Screen Smaller Than 980px */
@media screen and (max-width:980px) {
   section, footer{
       flex-flow: column wrap;
       align-items: center;
   }

    header {
        width: 100%;
        padding: 0;
    }

    header h1{
        width: 100%;
        text-align: center;
        background-color: var(--dark-blue);

    }

    header nav{
        width: 100%;
        background-color: var(--dark-gray);

    }
    header nav ul{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }
  
    .col-title{
        font-size: 26px;
        width: 70%;
        text-align: center;
        border-bottom: 3px solid var(--gray);
    }

    .col-content{
        border: none;
        width: 80%;
    }
    
}

/*Media Screen Smaller Than 768px */
@media screen and (max-width:768px) {
     header nav {
         padding-top: 10px;
     }

     header nav ul {
         flex-flow: column wrap;
         align-items: center;
     }

     footer .contact-me {
         flex-flow: column wrap;
         align-items: center;
     }
}

/*Media Screen Smaller Than 575px */
@media screen  and (max-width:575px) {
    .col-content{
        width: 100%;
    }
}