

/*defualt styling for all elements*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark-blue: #0F044C;
    --blue: #141E61;
    --dark-gray: #787A91;
    --gray: #EEEEEE;
}
/*Fonts Rules 
font-family: 'Inconsolata', monospace;
font-family: 'Roboto', sans-serif;
*/

/*Apply background Color to all page and Color to texts*/
body{
    background-color: var(--dark-blue);
    color: var(--gray);
    font-family: 'Roboto',sans-serif;
     width: 100%;
}

a {
    color: var(--gray);
    text-decoration: none;
}

header{
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-between;
    background-color: var(--dark-blue);
    color: var(--dark-blue);
    padding: 15px 50px 15px 0;
    font-family: 'Roboto',sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 999;
    
}

header h1{
    background-color: var(--dark-gray);
    color: var(--gray);
    padding: 15px 15px 15px 40px;
    text-align: right;
    width:300px;
    font-size: 48px;
    font-weight: 300;
    transition: 0.2s;
    
}


header nav{
    padding-top: 30px;
    font-family: 'Inconsolata',monospace;
    font-size: 26px;
    width: 480px;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}

/*hero styling*/
.hero{
    width: 100%;
    height: 600px;
    background-image: url('../images/code-back.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding:40px;
    margin-bottom: 20px;
}

 .hero-title {
    background-color: var(--gray);
    color: var(--blue);
    font-family: 'Inconsolata',monospace;
    padding:20px 40px;
}

section{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}



.col-title{
    width: 20%;
    text-align: right;
    font-family: 'Inconsolata',
    monospace;
    font-size: 32px;
    padding:20px 10px;
}
.col-content {
    width: 80%;
    border-left: 3px solid var(--gray);
    padding:20px 10px;
}

.col-content p{
    font-family: 'Inconsolata',monospace;
    font-size: 22px;
}

.contact-me{
    display: flex;
    justify-content: space-around;
}

.contact-me a {
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
    padding: 10px;
}

.works{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 0;
}

.work{
    position: relative;
    margin: 20px;;
}

.work h3{
    background-color: var(--gray);
    padding: 10px 40px 10px 10px;
    color: var(--dark-blue);

}

.work h3 span{
    font-size: 16px;
    font-weight: 300;
}

.work img{
    border: 4px solid var(--gray);
    height: 240px;
    width: auto;
   flex: 1 50%
    
}


/*Media Screen Smaller Than 980 */
@media screen and (max-width:980px) {

    header {
        width: 100%;
        padding: 0;
    }

    header h1{
        width: 100%;
        text-align: center;
    }

    header nav{
        width: 100%;
    }
    header nav ul{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding-bottom: 10px;

    }
    
}



@media screen  and (max-width:575px) {

    section{
        flex-flow: column wrap;
        justify-content: center;
    }

    header nav {
        padding-top: 10px;
    }

    header nav ul{
        flex-flow: column wrap;
        align-items: center;
    }

    .col-title{
        width: 100%;
        text-align: center;
        border-bottom: 4px solid var(--gray);
    }

    .col-content{
        width: 100%;
        border:none;
        margin: 0;
    }

    .works{
        width: 100%;
        padding:0;
    }

    .contact-me{
        flex-flow: column wrap;
    }

   
    
    
}